body, html {
    margin: 0;
    padding: 0;
    background: #333;
    font-family: "PingFang SC";
    overflow: hidden;
}

* {
    user-select: none;
    
}

.labelContainer {
    height : 1080px;
    width: 1080px;
    border-radius: 888888em;
    overflow: hidden;
}

canvas, svg {
    height: 1080px;
    width: 1080px;
    position: absolute;
}


.bg {
    display: block;
    position: absolute;
    height: 1080px;
    width: 1080px;
    border-radius: 9999em;
    background: black;
}