svg {
    display: block;
    position: absolute;
}

svg * {
    // stroke: #fff;
    stroke: transparent; //good for u
    fill: transparent;
}

.label {
    color: white;
    padding: 10px 10px;
    // background: white;
    // color: #2fafff;
    // border: 5px solid #2fafff;
    opacity: 1;
    font-size: 20px;
    font-family: "PingFang SC";
    font-weight: 800;
}